.details {
    background-color: white;
    width: 100%;
}

.details .top h3 {
    color: rgb(161, 161, 161);
    position: relative;
    top: 40px;
    left: 85px;
    font-weight: 500;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.details .top h3::after {
    content: "";
    display: inline-block;
    width: 130px;
    border-bottom: solid 1px rgb(27, 204, 142);
    position: relative;
    left: 10px;
    top: -7px;
}

.details .top h1 {
    color: rgb(4, 6, 120);
    position: relative;
    top: 20px;
    left: 84px;
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;

}

.first-det .first-img {
    width: 500px;
    position: relative;
    top: 80px;
    left: 100px;
}

.det-one {
    display: inline-block;
    position: relative;
    top: -100px;
    left: 100px;
}

.det-one h3 {
    color: rgb(4, 6, 120);
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    transform: translateY(50px);
    width: 700px;
}

.det-one p {
    color: #444444c4;
    width: 600px; 
    transform: translateY(-20px);
    width: 720px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: italic;
}

.det-one li {
    color: #444444c4;
    list-style-type: none;
    margin-bottom: 20px;
}

.det-one li:nth-child(1)::before {
    content: '';
      position: absolute;
      left: 5px;
      top: 160px;
      width: 20px; 
      height: 20px;
      background-image: url('Assets/right\ icon.png');  
}

.det-one li:nth-child(2)::before {
    content: '';
      position: absolute;
      left: 5px;
      top: 198px;
      width: 20px; 
      height: 20px;
      background-image: url('Assets/right\ icon.png');  
}

.det-one li:nth-child(3)::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 236px;
    width: 20px; 
    height: 20px;
    background-image: url('Assets/right\ icon.png');  
}

.second-det .second-img {
    width: 500px;
    position: relative;
    left: 900px;
}

.det-two {
    display: inline-block;
    position: relative;
    top: -100px;
    left: -400px;
}

.det-two h3 {
    color: rgb(4, 6, 120);
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    transform: translateY(55px);
}

.det-two p {
    color: #444444c4;
    width: 720px;
    transform: translateY(-20px);
    line-height: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.third-det .third-img {
    width: 400px;
    position: relative;
    left: 100px;
}

.det-three {
    display: inline-block;
    position: relative;
    top: -150px;
    left: 100px;
}

.det-three h3 {
    color: rgb(4, 6, 120);
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    transform: translate(30px,-50px);
    width: 700px;
}

.det-three p {
    color: #444444c4;
    width: 725px;
    transform: translate(-10px,-115px);
    line-height: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.det-three li {
    color: #444444c4;
    list-style-type: none;
    margin-bottom: 20px;
    transform: translate(25px,-115px);
}

.det-three li:nth-child(2)::before {
    content: '';
    position: absolute;
    left: -30px;
    top: -5px;
    width: 20px; 
    height: 20px;
    background-image: url('Assets/right\ icon.png');  
}

.det-three li:nth-child(3)::before {
    content: '';
    position: absolute;
    left: -30px;
    top: -5px;
    width: 20px; 
    height: 20px;
    background-image: url('Assets/right\ icon.png');  
}

.det-three li:nth-child(4)::before {
    content: '';
    position: absolute;
    left: -30px;
    top: -3px;
    width: 20px; 
    height: 20px;
    background-image: url('Assets/right\ icon.png');  
}

.fourth-det .fourth-img {
    width: 400px;
    position: relative;
    left: 900px;
}

.det-four {
    display: inline-block;
    position: relative;
    top: -115px;
    left: -303px;
}

.det-four h3 {
    color: rgb(4, 6, 120);
    font-size: 26px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    transform: translateY(55px);
    width: 700px;
}

.det-four p {
    color: #444444c4;
    width: 720px;
    transform: translateY(-20px);
    line-height: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}