.navBar {
    text-transform: capitalize;
    background-color: rgb(17, 6, 140);
    color: var(--textColor);
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.logo {
    margin-left: 100px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

.logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links a {
    color: rgb(208, 206, 224);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.links ul {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    justify-content: space-between;
    align-content: space-between;
}

.links li {
   list-style: none;
    display: flex;  
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    color: rgb(208, 206, 224);
}

.underline::before {
    content: "";
    visibility: hidden;
    width: 25px;
    border-bottom: 2px solid rgb(27, 204, 142);
    position: relative;
    top: 5px;
    left: 25px;
}

.underline:hover::before {
    visibility: visible;
}

.links li ul {
    display: none; 
    position: absolute;
    top: 40px; 
    left: 0;
    background-color: white;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    z-index: 200;
}

.links li:hover > ul {
    display: block; 
}

.links li ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: -190px;
    background-color: white;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    z-index: 300;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links li ul li:hover > ul {
    display: block;
}

.links li ul li {
    padding: 15px 15px;
    color: rgba(0, 0, 0, 0.612); 
    cursor: pointer;
    white-space: nowrap; 
}

.links li ul li:hover {
    color: rgb(27, 204, 142); 
}

.bi.bi-chevron-down {
    width: 13px;
    fill: white;
    transform: translate(5px,0px);
}

.bi.bi-chevron-deepdown {
    width: 13px;
    fill: black;
    transform: translate(15px,0px);
}